@charset "utf-8";

header,nav,footer,menu,h5{
    text-align: center;
}

body{
    background-color: #ffffff;
    background-size: 1550px 230px;
    color:black; 
    margin: 100px;
}
nav{
    background-color: #ffffff;
    
    
}
header{
    background-color: #ffffff;
}

h1{
    font-weight: 300;
    font-size: 300%;
    text-align: center;
    line-height: 1;
    margin: 1px auto;
    padding: 30px;
    background-attachment: fixed;
    background-position: right top;
    background-repeat: no-repeat;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
    
    
    h2{
        padding:20px;
        margin-bottom: 1px;
        font-size: 50px;
        font-weight: 150;
        color: #ffffff
    
    
    }
    h5{
        padding:20px;
        margin-bottom: 1px;
        font-size: 50px;
        font-weight: 150;
        color: #000000
    }
   .menu2 a{
    text-decoration: none;
    display: block;
    padding: 50px;
    background: rgb(52, 50, 50);
    color: #ffffff;
    font-size: 25px;
    font-weight: 200;
    border-radius: 10px;
   }

   .menu2 li{
    list-style-type: none;
    border:20px solid #94c8b100;
    
    width: 250px;
    display: inline-block;
   }

    .menu a{
        text-decoration: none;
        display: block;
        padding: 15px;
        background: rgb(52, 50, 50);
        border-radius: 15px;
        color: #ffffff;
        font-size: 25px;
        font-weight: 200;
    }


    .menu li{
        list-style-type: none;
        border:20px solid #94c8b100;
        display: inline-block;
        width: 250px;
        
        }
        .menu3 a{
            text-decoration: none;
            
           }
        
           .menu3 li{
            list-style-type: none;
            border:20px solid #94c8b100;
            display: inline-block;
            width: 250px;
           }
section{
    text-align: center;
    background-color: rgb(52, 52, 52);
    color: #ffffff;

}
small{
    font-size: 5px;
}
    